*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    color:#fff;
    font-family:"plain light";
}
html, body{
    height:100%;
    width:100%;
}
#crsr{
    height:2.3vw;
    width:2.3vw;
    border-radius:50%;
    border:1px solid #989898;
    position:fixed;
    z-index:999;
    mix-blend-mode:difference;
    transform:translate(-50%, -50%);
}
#loader{
    height:100%;
    width:100%;
    position:fixed;
    z-index:999;
    background-color:#0B0B0B;
    padding:16vh 5vw;
}
.line{
    height:fit-content;
    overflow:hidden;
    display:flex;
    gap:4.4vw;
}
#zero-100{
    padding-left:6.7vw;
}
.line #line-part-1 #count0{
    /* background-color:red; */
    width:5vw;
    text-align:right; /* to keep alignment with - 100 otherwise gap badh jayega */
}
.line h1{
    font-size:7.2vw;
    font-weight:400;
    line-height:16vh;
    text-transform:uppercase;
}
#now-animation{
    opacity:1;
    /* animation-name:anime; */
    animation-duration:2s;
    animation-iteration-count: infinite;
}

@keyframes anime{
    0%{
        font-family:"plain light";
        -webkit-text-stroke:1px #fff;
        color:#fff;
        opacity:1;
    }
    47%{
        font-family:"plain light";
        -webkit-text-stroke:1px #fff;
        color:#fff;
        opacity:0;
    }
    50%{
        font-family:"Silk Serif";
        -webkit-text-stroke:1px #fff;
        color:#fff;
        opacity:1;
    }
    100%{
        font-family:"Silk Serif";
        font-style:italic;
        -webkit-text-stroke:1px #fff;
        color:transparent;
        opacity:0;
    }
}

#line-part-1{
    display:flex;
    justify-content:center;
    align-items:flex-start;
    gap:1.1vw;
}
#line-part-1 h5{
    font-size:3vw;
    font-family:"Silk Serif";
    font-style:italic;
    font-weight:400;
}

#main{
    position:relative;
    background-color:#0b0b0b;
}
#page1{
    height:100vh;
    width:100%;
    background-color:#151515;
}
#page1 #page1_nav{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    padding:6vh 4vw;
}
#page1_nav_part2{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:3vw;
}
#page1_nav_part2 h4{
    font-weight:400;
    font-size:1vw;
}

.first-page-view{
    /* background-color:red; */
    width:73%;
    margin-left:27%;
    height:fit-content;
    overflow:hidden;
}
/* #page1 h1::before{
    content: "01";
    position:absolute;
    /* top:2vh;
    left:-10%; 
    font-size:3vw;
    font-family:"Silk Serif";
    font-style:italic;
    font-weight:400;
} */
#we_deign_before::before{
    content: "01";
    position:absolute;
    left:18%;
    top:33vh;
    font-size:3vw;
    font-family:"Silk Serif";
    font-style:italic;
    font-weight:400;
}
.first-page-view:nth-of-type(1){
    margin-top:18vh;
}
.first-page-view h1{
    font-size:7vw;
    text-transform:uppercase;
    line-height:7vw;
}
.first-page-view #graphic:hover, .first-page-view h1 #web:hover{
    -webkit-text-stroke:1px white;
    color:transparent;
    font-weight:400;
    transition:all ease 0.25s;
}
#web_graphic{
    padding-bottom:5px;
}
#web, #graphic {
    text-decoration:underline;
    text-underline-offset: 10px;
}
#web:hover, #graphic:hover{
    text-decoration:none;
}

/* page 2*/
#page2{
    height:100vh;
    width:100%;
    background-color:#151515;
    padding-top:20vh;
    position:relative;
}
#video-container{
    height:70vh;
    width:70vw;
    position:relative;
    left:29.3%;
    background-image:url("https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg");
}
#video-container img{
    position:absolute;
    height:100%;
    width:100%;
    object-fit:cover;
    top:0;
}
#video-container>video{
    height:100%;
    width:100%;
    object-fit:cover;
}
#video-cursor{
    background-color:#FFA63D;
    height:10vw;
    width:10vw;
    border-radius:50%;
    position:absolute;
    z-index:1000;
    top:-10%;
    left:80%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}
#video-cursor i{
    font-size:2.5vw;
}

/* page 3 */
#page3{
    min-height:100vh;
    width:100%;
    background-color:#151515;
    position:relative;
}

/* page 4 */
#page4{
    min-height:100vh;
    width:100%;
    background-color:#151515;
    position:relative;
    padding:10vh 0;
    overflow:hidden;
}
#page4Content{
   width:72vw;
   position:relative;
   margin-left:28%;
}
#page4Content h1{
    font-size:7vw;
    text-transform:uppercase;
}
#page4Content h1::before{
    content: "03";
    position:absolute;
    top:2vh;
    left:-13%;
    font-size:3vw;
    font-family:"Silk Serif";
    font-style:italic;
    font-weight:400;
}
.page4Underline{
    height:1.15px;
    width:90%;
    background-color: #fff;
    margin: 5vw 0;
}
#page4Content>p{
    font-size:2.3vw;
    width:50%;
    margin-bottom:3vw;
    line-height:5.5vh;
}
#page4ImageFlex{
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content:center;
}
#page4ImageFlex img{
    height:85vh;
    object-fit:cover;
}
#paragraphBesideImagePage4 p{
    margin-bottom:2vw;
    margin-left:1.5vw;
    width:45%;
    line-height:3vh;
    font-size:1vw;
}
#page4BlueDiv{
    background-color:#3F7DF4;
    width:32.3vw;
    padding:6vh 3vw;
    position:relative;
    bottom:29vh;
    left:22.5vw;
}
.page4_blueDivElem{
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content:space-between;
    gap:3vw;
    padding:2.5vw 0;
    border-bottom:1px solid #fff;
}
.page4_blueDivElem h4{
    width:50%;
    font-size:1.6vw;
    font-weight:400;
}
.page4_blueDivElem p{
    width:50%;
    font-size:1vw;
}
#page4Underlinefinal{
    border-top:1.15px solid #fff;
    width:90%;
    padding-top:4vh;
}
#page4Underlinefinal p{
    font-size:0.95vw;
    font-weight:lighter;
}
/* page 5*/
#page5{
    min-height:100vh;
    width:100%;
    padding:2vh 0;
    position:relative;
    background-color:#151515;
}
.page5animationElem{
    /* background-color: red; */
    white-space:nowrap;
    overflow-x:hidden;
}
.page5animationElem h1{
    font-size:7vw;
    -webkit-text-stroke:0.7px white;
    color:transparent;
    font-weight:400;
    text-transform:uppercase;
    display:inline-block;
    animation-name:anime1;
    animation-duration:20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-right:30px;
}

@keyframes anime1{
    from{
        transform: translateX(0);
    }
    to{
        transform:translateX(calc(-100% - 32px));
    }
}
.page5animationElem2{
    /* background-color: red; */
    white-space:nowrap;
    overflow-x:hidden;
}
.page5animationElem2 h1{
    font-size:7vw;
    -webkit-text-stroke:0.7px white;
    color:transparent;
    font-weight:400;
    text-transform:uppercase;
    display:inline-block;
    animation-name:anime1;
    animation-duration:20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-right:30px;
    animation-direction:reverse;
}
.page5animationElem span{
    font-family:"Silk Serif";
    font-style:italic;
    -webkit-text-stroke:0.7px #fff;
    color:transparent;
}
.page5animationElem2 span{
    font-family:"Silk Serif";
    font-style:italic;
    -webkit-text-stroke:0.7px #fff;
    color:transparent;
}
/* footer */
#mainFooter{
    min-height:100vh;
    width:100%;
    overflow:hidden;
    background-color:#151515;
}
#mainFooterContent{
    width:72vw;
    margin-left:28vw;
}
#mainFooterContent>h1{
    font-size:7vw;
    text-transform:uppercase;
    position:relative;
}
#mainFooterContent>h1::before{
    content: "04";
    position:absolute;
    font-size:3vw;
    font-family:"Silk Serif";
    font-style:italic;
    left:-13%;
    top:10%;
    font-weight:400;
}
.underlineMainFooter{
    height:1.15px;
    width:90%;
    border:1px solid #fff;
    margin:5vw 0;
}
#footer-div{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:80%;
    padding:2vh 0;
}
.box h6{
    font-size:1vw;
    margin-bottom:4vh;
    padding-top:1vh;
}
.box h5{
    font-size:1.6vw;
    line-height:3.8vh;
    font-weight:400;
}

#footerLastUnderline{
    border-top:1px solid #fff;
    margin:10vh 0;
    width:90%;
}
#footerLastUnderline p{
    margin-top:6vh;
}